body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}
.game-image {
    width: 200px; /* Kích thước hình ảnh */
    transition: transform 0.3s; /* Thêm hiệu ứng chuyển tiếp */
}

.game-image:hover {
    transform: scale(1.1); /* Phóng to khi hover */
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
